html {
  background-color: rgb(50, 168, 133);
  height: 100%;
  margin: 0;
}
.nav-bar {
  padding: 5%;
  font-size: 250%;
}
.nav-bar a:hover {
  color: rgb(245, 188, 66);
}
/* https://www.w3schools.com/css/css_align.asp */
.today-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 5%;
}
.box-today-container {
  border: 2px solid black;
  height: 50%;
  width: 70%;
  margin: 20px 50px;
  padding: 2%;
  border-radius: 10px;
  background-color: rgb(245, 188, 66);
}
.box-container {
  border: 2px solid black;
  height: 120px;
  width: 150px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(245, 188, 66);
}
a {
  text-decoration: none;
  color: black;
}
.temp-text {
  text-align: center;
  font-size: 150%;
}
.loading-text {
  text-align: center;
  font-size: 200%;
}
.box-detail-container {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  margin: auto;
  background-color: rgb(245, 188, 66);
}
.search-bar {
  text-align: center;
  width: 100%;
}
.search-bar input {
  padding: 5px;
  border-radius: 3px;
  border: none;
  font-size: 120%;
}
.search-bar button {
  background-color: rgb(245, 188, 66);
  margin-bottom: 5%;
  margin-left: 15px;
  padding: 3px 15px;
  font-size: 150%;
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 375px) {
  .box-today-container {
    border: 2px solid black;
    height: 50%;
    width: 130%;
    margin: 20px auto;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(245, 188, 66);
  }
  .box-detail-container {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: rgb(245, 188, 66);
  }
}
@media screen and (max-width: 414px) {
  .box-today-container {
    border: 2px solid black;
    height: 50%;
    width: 130%;
    margin: 20px auto;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(245, 188, 66);
  }
  .box-detail-container {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: rgb(245, 188, 66);
  }
}